body {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items: center; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    height: 90%;
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
}

#output {
    font-size: 6rem;
    /* justify-content: center; */
    padding: 5rem;
    margin: 5rem;
    text-align: center;
    border-color: black;
    border-style: double;
    border-width: 1rem;

}

#clock {
    font-size: 6rem;
}
